In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:

file_path = "/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/AllCarabids.csv"

df = pd.read_csv(file_path, sep="\t")

df.head(2)

,kingdom,phylum,cls,order,family,genus,species,common_name,filepath,class
0,Animalia,Arthropoda,Insecta,Coleoptera,Carabidae,Cicindela,sexguttata,NaN,Insect-1M/Images/Arthropoda/Insecta/Coleoptera...,Cicindela sexguttata
1,Animalia,Arthropoda,Insecta,Coleoptera,Carabidae,Cicindela,sexguttata,NaN,Insect-1M/Images/Arthropoda/Insecta/Coleoptera...,Cicindela sexguttata

In [4]:
dataset_mapping = {
    'Insect-1M': 'Insect1M',
    'BritishCarabids': 'BritishCarabids',
    'BeetlePalooza': 'BeetlePalooza',
    'BeetlePUUM': 'BeetlePUUM'
}

df['Dataset'] = df['filepath'].apply(lambda x: next((v for k, v in dataset_mapping.items() if k in x), np.nan))

df.rename(columns={"filepath": "ImageFilePath", "class": "ScientificName"}, inplace=True)

df['ImageFilePath'] = "/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/" + df['ImageFilePath']

df['Genus'] = df["ScientificName"].str.split().str[0]

df = df[['ImageFilePath', 'Genus', 'ScientificName', 'Dataset']]

df = df.dropna()

df.head(5)

,ImageFilePath,Genus,ScientificName,Dataset
0,/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/Insect...,Cicindela,Cicindela sexguttata,Insect1M
1,/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/Insect...,Cicindela,Cicindela sexguttata,Insect1M
2,/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/Insect...,Cicindela,Cicindela sexguttata,Insect1M
3,/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/Insect...,Cicindela,Cicindela sexguttata,Insect1M
4,/fs/ess/PAS2136/Rayeed/Carabids-100K-V2/Insect...,Calosoma,Calosoma scrutator,Insect1M

In [5]:
len(df), df['Dataset'].value_counts()

(96530,
 Dataset
 BritishCarabids    63077
 Insect1M           20278
 BeetlePalooza      11372
 BeetlePUUM          1803
 Name: count, dtype: int64)

In [6]:

df.to_csv(f"{os.getcwd()}/DataFinalized.csv", index=False)